/* ACHIEVEMENTS */

dl.achievement {
    margin: 2em 0;
    padding: 0;
}
dl.achievements dt img {
    width: 70px;
    height: 70px;
    float: left;
    background-color: #ccc;
    border: 1px solid #000;
}
dl.achievements dt.unlocked img {
    background-color: #fff;
}
dl.achievements dt {
    background-color: #000;
    color: #fff;
    padding: .5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-left: 1px solid #131210;
    border-right: 1px solid #131210;
    border-top: 1px solid #131210;
}
dl.achievements dt.unlocked {
    background-color: #f00;
    color: #fff;
}
dl.achievements dd {
    margin: 0 0 1em 0;
    background: #ccc;
    color: #000;
    text-align: center;
    padding: 1em .5em;
    font-style: italic;
    border-left: 1px solid #131210;
    border-right: 1px solid #131210;
    border-bottom: 1px solid #131210;
}

/* TOOLTIPS */

div.tooltip-wrapper ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
div.tooltip-wrapper li {
    font-size: 12pt;
    line-height: 12pt;
}
div.tooltip {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 1em;
  opacity: 0;
  position: absolute;
  margin: 0.5em 0 0 0.5em;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  visibility: hidden;
}
div.tooltip-wrapper .trigger:hover {
    cursor: pointer;
    cursor: hand;
}
div.tooltip-wrapper:hover .tooltip {
    opacity: 0.8;
    visibility: visible;
}